
input/video/
input/image/

results/boards/data_003_board.mp4
results/boards/data_004_board.mp4
results/boards/data_007_board.mp4
results/boards/data_048_board.mp4
results/boards/data_060_board.mp4

results/homographies/data_003_homography.mp4
results/homographies/data_004_homography.mp4
results/homographies/data_007_homography.mp4
results/homographies/data_048_homography.mp4
results/homographies/data_060_homography.mp4

results/original/data_003_original.mp4
results/original/data_004_original.mp4
results/original/data_007_original.mp4
results/original/data_048_original.mp4
results/original/data_060_original.mp4

__pycache__/
.../__pycache__/

.gitignore